.recomendaciones {
    width: 400px;
    margin: 50px auto;
    padding: 20px 20px;
    background-color: var(--select-background-color);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
 }
 #list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table {
    margin: 30px 0px;
    width: 100%;
    margin-bottom: 1rem;
    color: #FFF;
    vertical-align: top;
    border-color: #dee2e6;
}
.table th {
    padding: 8px; 
    text-align: center;
}
.table th {
    border-bottom: 1px solid #ffffff;
}

.list-vinos {
    align-self: center;
    color: #FFF;
    font-size: 1.5vw;
}