<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Biblioteca del Vino - Búsqueda</title>
    <link rel="shortcut icon" href="../static/img/logo/la-biblioteca-del-vino-favicon-white.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="img-logo1">
                <a href="../index.html">
                    <img src="../static/img/logo/la-biblioteca-del-vino-high-resolution-logo.png" style="width: 100px" alt="La Biblioteca del Vino">
                </a>
            </div>
            <div class="img-logo2">
                <a href="../index.html">
                    <img src="../static/img/logo/wine-glass-svgrepo-com.svg" style="width: 30px;" alt="coupe_wine" id="coupe-wine">
                    <img src="../static/img/logo/bottle-wine-svgrepo-com.svg" style="width: 50px" alt="bottle_wine" id="bottle-wine">
                </a>
            </div>
            <h1>La Biblioteca del Vino</h1>
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="registro.html">Registro</a></li>
                    <li><a href="busqueda.html">Búsqueda</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section id="vinos-especiales">
            <div>
                <h2>Vino xxxxx</h2>

            </div>
            <br>
        </section>
        <br><br>
        <section id="more-info" class="more-info">
            <div id="detalles" class="vinos-grid">
                <img src="" alt="Acá va la imagen del vino">
                <ul><h2>Bodega</h2></ul>
                <ul><h2>Cosecha</h2></ul>
                <ul><h2>Variedad</h2></ul>
            </div>
        </section >
        
    </main>
    <!--<section class="filtro-busqueda">
        Filtro de Búsqueda 
    </section>

    <section class="resultados">
        Resultados de Búsqueda 
    </section>-->

    <footer>
        <div class="container">
            <h3>Seguinos en redes sociales</h3>
        </div>
    </footer>

</body>

</html>