<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Biblioteca del Vino - Productos</title>
    <link rel="icon" href="../static/img/logo/wine-glass-svgrepo-com.svg" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <title>La Biblioteca del vino</title>
</head>

<body class="pagina-contenido">
    <header>
        <nav class="navegacion">
            <a href="../index.html">Inicio</a>
            <a href="../index.html#nuestros-productos">Productos</a>
            <a href="./servicios.html">Servicios</a>
            <a href="./registro.html">Registro</a>
            <a href="./consultas.html">Consultas</a>
            <div class="img-logo2">
                <a href="../index.html" style="text-decoration: none;">
                    <img src="../static/img/logo/wine-glass-svgrepo-com.svg" style="width: 30px;" alt="coupe_wine" id="coupe-wine">
                    <img src="../static/img/logo/bottle-wine-svgrepo-com.svg" style="width: 50px" alt="bottle_wine" id="bottle-wine">
                </a>
            </div>
        </nav>
        <section class="textos-header">
            <h1>La Biblioteca del Vino</h1>
            <h2>Primera selección</h2>
        </section>
        <div>

            <div class="wave" style="height: 150px; overflow: hidden;">
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: rgb(255, 255, 255);"></path>
                </svg>
            </div>
        </div>
    </header>
    <main>
        <section id="vino-1" class="detalle-vino">
            <div class="container">
                <h2>Vino seleccionado</h2>
                <div class="vino">
                    <img src="../static/img/casillero-del-diablo-cabernet-sauvignon-2018-botella-750-cc.jpg"
                        alt="Casillero del Diablo Cabernet Sauvignon 2021">
                    <div class="informacion">
                        <h3>Casillero del Diablo Cabernet Sauvignon 2021</h3>
                        <p>Bodega: Concha y Toro</p>
                        <p>Tipo: Tinto</p>
                        <p>Año: 2021</p>
                        <p>Varietal: Cabernet Sauvignon</p>
                        <p>Corte: 100% Cabernet Sauvignon</p>
                        <p>Región: Valle de Uco - Mendoza</p>
                        <p>País: Argentina</p>
                        <p>Precio: $ 8.350</p>
                        <h4>Descripción:</h4>
                        <p>La emblemática marca chilena de vinos ahora también se produce en Mendoza, de la mano de
                            cinco
                            etiquetas. Cuando se habla de Casillero del Diablo, de bodega Concha y Toro, automáticamente
                            se
                            piensa en una marca de origen chileno, muy fuerte a nivel global, dado que está presente en
                            unos
                            140 países y se posicionó como una de las top a nivel mundial.
                            Hace más de 100 años para evitar que sus vinos desaparecieran Don Melchor de Concha y Toro
                            difundió el rumor que en su bodega habitaba el Diablo. Dicen que, como el fuego, rápidamente
                            el
                            rumor se propagó y que en poco tiempo en todos se instaló el temor. Nunca nadie pudo
                            confirmar
                            el rumor acerca del guardián de sus bodegas y su existencia... Hoy, La Leyenda sigue viva.
                            Perfecto para acompañar picada con jamón serrano ahumado, queso azul con aceitunas negras y
                            empanadas de carne magra picada.
                            Aroma: Notas de cassis, guindas rojas y ciruela negra complementada con toques de vainilla,
                            moca, café tostada y chocolate. Boca: Suave pero a la vez concentrado, es un vino elegante
                            de
                            larga y agradable persistencia. Color: Rojo intenso.
                        </p>
                        <p>Ranking: ⭐⭐⭐</p>
                        <!-- Agregar más detalles si es necesario -->
                    </div>
                </div>
            </div>
        </section>
        <section id="vino-2" class="detalle-vino">
            <div class="container">
                <h2>Vino seleccionado</h2>
                <div class="vino">
                    <img src="../static/img/trivento-golden-reserve-malbec-2017-botella-750-cc.webp"" alt=" Trivento
                        Golden Reserve Malbec">
                    <div class="informacion">
                        <h3>Trivento Golden Reserve Malbec</h3>
                        <p>Bodega: Trivento</p>
                        <p>Tipo: Tinto</p>
                        <p>Año: 2020</p>
                        <p>Varietal: Malbec</p>
                        <p>Corte: 100% Malbec</p>
                        <p>Región: Luján de Cuyo y Valle de Uco - Mendoza</p>
                        <p>País: Argentina</p>
                        <p>Precio: $ 18.350</p>
                        <h4>Descripción:</h4>
                        <p>Trivento Golden Reserve Malbec 2020, elegido como el mejor vino tinto argentino en el
                            International Wine Challenge 2022, premiado con medalla de oro y 96 puntos.
                            Un punto relevante es que este Malbec es un vino que está al alcance del consumidor, no solo
                            en
                            Argentina sino en todo el mundo, donde se destaca su relación precio-calidad.
                            Elaborado con uvas de diferentes microrregiones de Luján de Cuyo, Trivento Golden Reserve
                            Malbec
                            2020 acaba de ser consagrado como “El Mejor Vino Argentino” en la 39° edición del
                            prestigioso
                            concurso International Wine Challenge.
                            «Es un perfumado Malbec encantador y delicioso”, describieron en las notas de cata el jurado
                            del
                            concurso recientemente llevado a cabo en Londres. Ya Tim Atkin, el reconocido crítico inglés
                            que
                            realiza su reporte de Argentina, lo había clasificado con 93 puntos en su última visita al
                            país,
                            destacando “su atractivo por su textura, frescura y notas de frutos negros”.
                        </p>
                        <p>Ranking: ⭐⭐⭐⭐⭐</p>
                        <!-- Agregar más detalles si es necesario -->
                    </div>
                </div>
            </div>
        </section>
        <section id="vino-3" class="detalle-vino">
            <div class="container">
                <h2>Vino seleccionado</h2>
                <div class="vino">
                    <img src="../static/img/casillero-del-diablo-red-blend-red-blend-2021-botella-750-cc.webp" alt="
                    Casillero Del Diablo Red Blend Ensamblaje">
                    <div class="informacion">
                        <h3>Casillero Del Diablo Red Blend Ensamblaje</h3>
                        <p>Bodega: Concha y Toro</p>
                        <p>Tipo: Tinto</p>
                        <p>Año: 2021</p>
                        <p>Varietal: Blend</p>
                        <p>Corte: Malbec - Cabernet</p>
                        <p>Región: Luján de Cuyo y Valle de Uco - Mendoza</p>
                        <p>País: Argentina</p>
                        <p>Precio: $ 10.500</p>
                        <h4>Descripción:</h4>
                        <p>La emblemática marca chilena de vinos ahora también se produce en Mendoza, de la mano de
                            cinco
                            etiquetas. Cuando se habla de Casillero del Diablo, de bodega Concha y Toro, automáticamente
                            se
                            piensa en una marca de origen chileno, muy fuerte a nivel global, dado que está presente en
                            unos
                            140 países y se posicionó como una de las top a nivel mundial.
                            Hace más de 100 años para evitar que sus vinos desaparecieran Don Melchor de Concha y Toro
                            difundió el rumor que en su bodega habitaba el Diablo. Dicen que, como el fuego, rápidamente
                            el
                            rumor se propagó y que en poco tiempo en todos se instaló el temor. Nunca nadie pudo
                            confirmar
                            el rumor acerca del guardián de sus bodegas y su existencia... Hoy, La Leyenda sigue viva.
                            Aroma: Mezcla aromática intensa de pimienta negra, tabaco, grosella y cedro. Frutos rojos,
                            ciruelas, mora y canela, vainilla y humo procedente del roble. Boca: Entrada dulce, cuerpo
                            muy
                            bien estructurado, con taninos persistentes y agradables. Color: Rojo rubí profundo.
                        </p>
                        <p>Ranking: ⭐⭐⭐⭐</p>
                        <!-- Agregar más detalles si es necesario -->
                    </div>
                </div>
            </div>
        </section>
        <section id="vino-4" class="detalle-vino">
            <div class="container">
                <h2>Vino seleccionado</h2>
                <div class="vino">
                    <img src="../static/img/trivento-reserve-malbec-2022-vino-trivento-951551.jpg" alt=" Trivento Reserve
                    Malbec 2022">
                    <div class="informacion">
                        <h3>Trivento Reserve Malbec 2022</h3>
                        <p>Bodega: Trivento</p>
                        <p>Tipo: Tinto</p>
                        <p>Año: 2022</p>
                        <p>Varietal: Malbec</p>
                        <p>Corte: 100% Malbec</p>
                        <p>Región: Luján de Cuyo y Valle de Uco - Mendoza</p>
                        <p>País: Argentina</p>
                        <p>Precio: $ 10.500</p>
                        <h4>Descripción:</h4>
                        <p>"Dados los volúmenes involucrados, la calidad y la consistencia de este vino son notables. En
                            realidad, esta puede ser la mejor cosecha hasta ahora. Muy ligeramente arbolado, es una
                            mezcla
                            igual de uvas de Luján de Cuyo y el Valle de Uco, con perfume de violeta y pétalos de rosa,
                            taninos finos, acidez negra fruta de cereza y arándano y un final vibrante" Tim Atkin
                            Trivento Reserve Malbec es un vino 100% Malbec, originado en un 50% en el Valle de Uco y 50%
                            en
                            el Oasis Central, con un clima continental seco y gran exposición solar, que permite la
                            óptima
                            maduración de las uvas.
                            Color: brillante rojo intenso con matices violáceos y azulados. Nariz: cerezas, frutillas y
                            frambuesas con equilibradas notas de vainilla y coco provenientes del roble. Boca:
                            equilibrado,
                            posee taninos dulces, bebibles y final aterciopelado.
                        </p>
                        <p>Ranking: ⭐⭐⭐⭐</p>
                        <!-- Agregar más detalles si es necesario -->
                    </div>
                </div>
            </div>
        </section>
        <section id="vino-5" class="detalle-vino">
            <div class="container">
                <h2>Vino seleccionado</h2>
                <div class="vino">
                    <img src="../static/img/trivento-reserve-malbec-2022-vino-trivento-951551.jpg" alt=" Casillero del
                    Diablo Rosé 2022">
                    <div class="informacion">
                        <h3>Casillero del Diablo Rosé 2022</h3>
                        <p>Bodega: Concha y Toro</p>
                        <p>Tipo: Tinto</p>
                        <p>Año: 2022</p>
                        <p>Varietal: Malbec</p>
                        <p>Corte: 100% Malbec</p>
                        <p>Región: Valle de Uco - Mendoza</p>
                        <p>País: Argentina</p>
                        <p>Precio: $ 7.500</p>
                        <h4>Descripción:</h4>
                        <p>Reciente lanzamiento de Concha y Toro en Argentina.
                            Profundos aromas a rosas y frutas rojas ácidas y granadina. De entrada dulce y persistencia
                            marcada,
                            con acidez envolvente, fresco y limpio.
                            Ideal para acompañar con ensaladas, pescados, mariscos y quesos con buena acidez, como el
                            mozzarella.
                        </p>
                        <p>Ranking: ⭐⭐⭐</p>
                        <!-- Agregar más detalles si es necesario -->
                    </div>
                </div>
            </div>
        </section>

        <section id="vino-6" class="detalle-vino">
            <div class="container">
                <h2>Vino seleccionado</h2>
                <div class="vino">
                    <img src="../static/img/terrunyo-Malbec-2017-botella-750-cc.jpg" alt=" Terrunyo Malbec 2017">
                    <div class="informacion">
                        <h3>Terrunyo Malbec 2017</h3>
                        <p>Bodega: Concha y Toro - Trivento</p>
                        <p>Tipo: Tinto</p>
                        <p>Año: 2017</p>
                        <p>Varietal: Malbec</p>
                        <p>Corte: 100% Malbec</p>
                        <p>Región: Viñedo Los Indios - Paraje Altamira - Valle de Uco - Mendoza</p>
                        <p>País: Argentina</p>
                        <p>Precio: $ 12.300</p>
                        <h4>Descripción:</h4>
                        <p>TERRUNYO presenta un amplio portafolio de vinos que unen los mejores terruños de Chile y
                            Argentina. El nuevo portafolio busca promover la diversidad de orígenes, potenciando la
                            búsqueda
                            de la mejor expresión de cada variedad, lo que ha posicionado la línea como uno de los
                            referentes más importantes para la industria vitivinícola chilena.
                            Las uvas Malbec provienen del viñedo Los Indios, ubicado en la IG Paraje Altamira de Valle
                            de
                            Uco. Este viñedo se encuentra a 1200 metros sobre el nivel del mar, y se encuentra en el
                            cono
                            aluvial formado por el río Tunuyán. Esto, sumado al clima seco y continental, permite la
                            excelente maduración de las uvas, lo que finalmente se expresa en un vino con aromas a
                            cereza,
                            ciruela fresca y notas florales. Fresco, de taninos jugosos y gran textura.
                            De color rojo intenso y notas violáceas, el Terrunyo Malbec es un vino que muestra aromas de
                            frutos negros y especias, con un toque floral, en equilibrio con el roble. Entrada dulce,
                            taninos persistentes y aterciopelados envuelven un acabado largo.
                            "De los suelos calcáreos de Altamira, en el viñedo El Indio, este malbec tiene el carácter
                            austero, de taninos fieros del malbec en esa zona del Valle de Uco, a los pies de Los Andes
                            y a
                            unos 1.200 metros de altura. Criado en fudres y estanques de concreto, tiene notas a
                            violetas,
                            especias y frutas negras y rojas, todo en una nariz exuberante. La boca ofrece textura
                            firme,
                            taninos afilados y una acidez jugosa. Un clásico moderno ejemplo de malbec de las alturas
                            andinas de Mendoza." Patricio Tapia - Guía Descorchados
                        </p>
                        <p>Ranking: ⭐⭐⭐⭐⭐</p>
                        <!-- Agregar más detalles si es necesario -->
                    </div>
                </div>
            </div>
        </section>

        <section id="vino-7" class="detalle-vino">
            <div class="container">
                <h2>Vino seleccionado</h2>
                <div class="vino">
                    <img src="../static/img/espumante-cruzat-finca-la-dama-extra-brut-750-cc.jpg" alt=" Espumante Cruzat
                    Finca La Dama Single Vineyard Extra Brut">
                    <div class="informacion">
                        <h3>Espumante Cruzat Finca La Dama Single Vineyard Extra Brut</h3>
                        <p>Bodega: Cruzat</p>
                        <p>Tipo: Espumante</p>
                        <p>Año: 2023</p>
                        <p>Varietal: Chardonnay</p>
                        <p>Corte: 100% Chardonnay</p>
                        <p>Región: Vista Flores - Tunuyán - Valle de Uco - Mendoza</p>
                        <p>País: Argentina</p>
                        <p>Precio: $ 20.450</p>
                        <h4>Descripción:</h4>
                        <p>Presenta un delicado color amarillo pálido con reflejos verdosos y una efervesencia
                            persistente y
                            vivaz.
                            En sus aromas sobresalen frutos cítricos, vainilla y brioche sobre una base de mineralidad
                            fina
                            y elegante, aportada por el clon y el terroir de este notable viñedo.
                            Esta conocida bodega de espumantes nace en 2004 de la sociedad entre un grupo de empresarios
                            chilenos y el enólogo argentino Pedro Rosell, una de las voces más calificadas en este tipo
                            de
                            vinos en Argentina.
                        </p>
                        <p>Ranking: ⭐⭐⭐⭐⭐</p>
                        <!-- Agregar más detalles si es necesario -->
                    </div>
                </div>
            </div>
        </section>

        <section id="vino-8" class="detalle-vino">
            <div class="container">
                <h2>Vino seleccionado</h2>
                <div class="vino">
                    <img src="../static/img/espumante-cruzat-cuvee-extra-brut-750-cc.jpg" alt=" Espumante Cruzat Cuvee
                    Extra Brut 750 Cc.">
                    <div class="informacion">
                        <h3>Espumante Cruzat Cuvee Extra Brut 750 Cc.</h3>
                        <p>Bodega: Cruzat</p>
                        <p>Tipo: Espumante</p>
                        <p>Año: 2023</p>
                        <p>Varietal: Blend</p>
                        <p>Corte: 75% Pinot Noir y 25% Chardonnay</p>
                        <p>Región: Valle de Uco - Mendoza</p>
                        <p>País: Argentina</p>
                        <p>Precio: $ 19.750</p>
                        <h4>Descripción:</h4>
                        <p>Vino estructurado y fresco, acidez equilibrada por un mayor dosaje de azúcar. Sutil color
                            amarillo en nariz aporta aromas frutales como ananá, maracuyá y cerezas.
                            Acompaña mariscos y pescados con salsas consistentes, con salsas ligeras, pastas y carnes
                            asadas
                            o a la plancha.
                            Esta conocida bodega de espumantes nace en 2004 de la sociedad entre un grupo de empresarios
                            chilenos y el enólogo argentino Pedro Rosell, una de las voces más calificadas en este tipo
                            de
                            vinos en Argentina.
                        </p>
                        <p>Ranking: ⭐⭐⭐⭐⭐</p>
                        <!-- Agregar más detalles si es necesario -->
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <h3>Seguinos en redes sociales</h3>
        </div>
    </footer>

</body>

</html>