<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Biblioteca del Vino - Inicio</title>
    <link rel="shortcut icon" href="../static/img/logo/la-biblioteca-del-vino-favicon-white.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="img-logo1">
                <a href="./index.html">
                    <img src="../static/img/logo/la-biblioteca-del-vino-high-resolution-logo.png" style="width: 100px" alt="La Biblioteca del Vino">
                </a>
            </div>
            <div class="img-logo2">
                <a href="./index.html">
                    <img src="../static/img/logo/wine-glass-svgrepo-com.svg" style="width: 30px;" alt="coupe_wine" id="coupe-wine">
                    <img src="../static/img/logo/bottle-wine-svgrepo-com.svg" style="width: 50px" alt="bottle_wine" id="bottle-wine">
                </a>
            </div>
            <h1>
                La Biblioteca del Vino
            </h1>
            <nav>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="registro.html">Registro</a></li>
                    <li><a href="busqueda.html">Búsqueda</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <section class="destacados">
        <!-- Sección de Vinos Destacados -->
        <img src="../static/img/casillero-del-diablo-cabernet-sauvignon-2018-botella-750-cc.jpg"
            alt="Vincular con foto del Vino Seleccionado">
        <a href="contenido.html#vino-2">Casillero del Diablo Cabernet Sauvignon 2021</a>
    </section>

    <section class="busqueda">
        <!-- Formulario de Búsqueda -->
    </section>

    <footer>
        <div class="container">
            <h3>Seguinos en redes sociales</h3>
        </div>
    </footer>

</body>

</html>