<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Biblioteca del Vino - Inicio</title>
    <link rel="shortcut icon" href="../static/img/logo/la-biblioteca-del-vino-favicon-white.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="img-logo1">
                <a href="./index.html">
                    <img src="../static/img/logo/la-biblioteca-del-vino-high-resolution-logo.png" style="width: 100px" alt="La Biblioteca del Vino">
                </a>
            </div>
            <div class="img-logo2">
                <a href="./index.html">
                    <img src="../static/img/logo/wine-glass-svgrepo-com.svg" style="width: 30px;" alt="coupe_wine" id="coupe-wine">
                    <img src="../static/img/logo/bottle-wine-svgrepo-com.svg" style="width: 50px" alt="bottle_wine" id="bottle-wine">
                </a>
            </div>
            <h1>
                La Biblioteca del Vino
            </h1>
            <nav>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="registro.html">Registro</a></li>
                    <li><a href="busqueda.html">Búsqueda</a></li>
                    <li><a href="busqueda.html">Búsqueda2</a></li>

                </ul>
            </nav>

        </div>
    </header>

    
        <!-- Sección de Vinos Destacados -->
        <section class="destacados">
            <div class="slider-container">
                <div class="slider position"></div>
            </div>
        </section>

        <section class="grilla">
            <div class="flexbox">
                <div class="item-vino">
                    <a href="contenido.html#vino-1"><img src="../static/img/casillero-del-diablo-cabernet-sauvignon-2018-botella-750-cc.jpg"
                        alt="Casillero del Diablo Cabernet Sauvignon 2018" title="Casillero del Diablo Cabernet Sauvignon 2018"></a>
                </div>
                <div class="item-vino">
                    <a href="contenido.html#vino-2"><img src="../static/img/trivento-golden-reserve-malbec-2017-botella-750-cc.webp"
                        alt="Trivento Golden Reserve Malbec" title="Trivento Golden Reserve Malbec"></a>
                </div>
                <div class="item-vino">
                    <a href="contenido.html#vino-3"><img src="../static/img/casillero-del-diablo-red-blend-red-blend-2021-botella-750-cc.webp"
                        alt="Casillero Del Diablo Red Blend Ensamblaje" title="Casillero Del Diablo Red Blend Ensamblaje"></a>
                </div>
                <div class="item-vino">
                    <a href="contenido.html#vino-4"><img src="../static/img/trivento-reserve-malbec-2022-vino-trivento-951551.jpg"
                        alt="Trivento Reserve Malbec 2022" title="Trivento Reserve Malbec 2022"></a>
                </div>
                <div class="item-vino">
                    <a href="contenido.html#vino-5"><img src="../static/img/trivento-reserve-malbec-2022-vino-trivento-951551.jpg"
                        alt="Casillero del Diablo Rosé 2022" title="Casillero del Diablo Rosé 2022"></a>
                </div>
                <div class="item-vino">
                    <a href="contenido.html#vino-6"><img src="../static/img/terrunyo-Malbec-2017-botella-750-cc.jpg"
                        alt="Terrunyo Malbec 2017" title="Terrunyo Malbec 2017"></a>
                </div>
                <div class="item-vino">
                    <a href="contenido.html#vino-7"><img src="../static/img/espumante-cruzat-finca-la-dama-extra-brut-750-cc.jpg"
                        alt="Espumante Cruzat Finca La Dama Single Vineyard Extra Brut"
                        title="Espumante Cruzat Finca La Dama Single Vineyard Extra Brut"></a>
                </div>
                <div class="item-vino">
                    <a href="contenido.html#vino-8"><img src="../static/img/espumante-cruzat-cuvee-extra-brut-750-cc.jpg"
                        alt="Espumante Cruzat Cuvee Extra Brut" title="Espumante Cruzat Cuvee Extra Brut"></a>
                </div>
            </div>
        </section>

    <section class="busqueda">
        <!-- Formulario de Búsqueda -->
    </section>

    <footer>
        <div class="container">
            <h3>Seguinos en redes sociales</h3>
        </div>
    </footer>

</body>

</html>