<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Biblioteca del Vino - Registro</title>
    <link rel="shortcut icon" href="../static/img/logo/la-biblioteca-del-vino-favicon-white.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/registro-style.css">
    
</head>

<body>
    <header>
        <div class="container">
            <div class="img-logo1">
                <a href="./index.html">
                    <img src="../static/img/logo/la-biblioteca-del-vino-high-resolution-logo.png" style="width: 100px" alt="La Biblioteca del Vino">
                </a>
            </div>
            <div class="img-logo2">
                <a href="./index.html">
                    <img src="../static/img/logo/wine-glass-svgrepo-com.svg" style="width: 30px;" alt="coupe_wine" id="coupe-wine">
                    <img src="../static/img/logo/bottle-wine-svgrepo-com.svg" style="width: 50px" alt="bottle_wine" id="bottle-wine">
                </a>
            </div>  
            <h1>La Biblioteca del Vino</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="registro.html">Registro</a></li>
                    <li><a href="busqueda.html">Búsqueda</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="registro">

            <h2> CREAR UNA CUENTA</h2>
            <br>
            <br>
            <form action="#" id="formRegister" method="GET" novalidate>
                <div class="form-control">
                    <label>Nombre</label>
                    <br>
                    <input type="text" name="firstname" id="firstname">
                </div>
                <div class="error" id="error-firstname"></div>
                <div class="form-control">
                    <label>Apellido</label>
                    <br>
                    <input type="text" required name="lastname" id="lastname" maxlength="4" minlength="2">
                </div>
                <div class="error" id="error-lastname"></div>
                <div class="form-control">
                    <label>Email</label>
                    <br>
                    <input type="email" required name="email" id="email" placeholder="Por favor ingresa el email">
                </div>
                <div class="error" id="error-email"></div>
                <div class="form-control">
                    <label>Contaseña</label>
                    <br>
                    <input type="password" required name="password" id="password">
                </div>
                <div class="error" id="error-password"></div>
                <div class="form-control">
                    <label for="birthdate">Fecha de Nacimiento</label>
                    <br>
                    <input type="date" required name="birthdate" id="birthdate">
                </div>
                <div class="form-control">
                    <label>País</label>
                    <br>
                    <input type="country" name="country" id="country">
                </div>
                <br>
                <br>
                <div class="form-terms">
                    <input type="radio" id="terms" name="terms">
                    <label for="terms">Acepto términos y condiciones</label>
                </div>
                <br>
                <button type="submit" class="btn-send">
                    Registrarse
                </button>
            </form>

        </section>
    </main>
    <script src="../static/js/validacion-registro.js"></script>
    <section class="volver">
        <a href="./index.html"> VOLVER</a>
    </section>
    <footer>
        <div class="container">
            <h3>Seguinos en redes sociales</h3>
        </div>
    </footer>
</body>

</html>