<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Biblioteca del Vino - Servicios</title>
    <link rel="icon" href="../static/img/logo/wine-glass-svgrepo-com.svg" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>

<body class="pagina-contenido">
    <header>
        <nav class="navegacion">
            <a href="../index.html">Inicio</a>
            <a href="../index.html#nuestros-productos">Productos</a>
            <a href="./servicios.html">Servicios</a>
            <a href="./registro.html">Registro</a>
            <a href="./consultas.html">Consultas</a>
            <a href="./recomendaciones.html">Recomendaciones</a>
            <div class="img-logo2">
                <a href="../index.html" style="text-decoration: none;">
                    <img src="../static/img/logo/wine-glass-svgrepo-com.svg" style="width: 30px;" alt="coupe_wine" id="coupe-wine">
                    <img src="../static/img/logo/bottle-wine-svgrepo-com.svg" style="width: 50px" alt="bottle_wine" id="bottle-wine">
                </a>
            </div>
        </nav>
        <section class="textos-header">
            <h1>La Biblioteca del Vino</h1>
            <h2>Primera selección</h2>
        </section>
        <div>

            <div class="wave" style="height: 150px; overflow: hidden;" >
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path>
                </svg>
            </div>
        </div>
    </header>
    <main>
        <section class="servicios">
            <div class="container">
                <h1 class="titulo">Conocé nuestras propuestas de servicios</h1>
                <h2>Masterclass</h2>
                    <p>Clase de maridaje a cargo de nuestro Head Sommelier, 
                    donde tendrán la oportunidad de experimentar nuestros 
                    más representativos vinos de cava en acompañamiento 
                    con quesos, frutos secos y mermeladas.</p>
                <h4>DE LUNES A VIERNES A LAS 19.30HS</h4>
                    <p>Duración: 1 hora 30 minutos aprox.
                    Requiere reserva previa de mínimo 2 personas, máximo 8 personas
                    y 48hs previas de anticipación.</p>
                <h2>Gastronomía</h2>
                <h3>Menú de 9 pasos con maridaje de nuestros mejores exponentes de las líneas Luxury</h3>
                    <p>    
                    Nuestro menú esta armado en base a “Sabores del Valle de Uco”, con sus ingredientes reconocidos a nivel mundial, materia prima única de nuestra región donde destacamos a nuestros pequeños productores de la zona, resaltamos las diversas culturas que nos rodean y las costumbres que nos marcan e identifican. Incluye visita sin degustación. 12hs.
                    *Los precios son referenciales pueden variar sin previo aviso. DESCUENTOS EXCLUSIVOS PARA RESIDENTES ARGENTINOS.</p>
                <h3>Menú de 6 pasos con maridaje de nuestros mejores exponentes de las líneas Luxury</h3>
                    <p>Nuestro menú esta armado en base a “Sabores del Valle de Uco”, con sus ingredientes reconocidos a nivel mundial, materia prima única de nuestra región donde destacamos a nuestros pequeños productores de la zona, resaltamos las diversas culturas que nos rodean y las costumbres que nos marcan e identifican. Incluye visita sin degustación 12hs.
                    *Los precios son referenciales pueden variar sin previo aviso. DESCUENTOS EXCLUSIVOS PARA RESIDENTES ARGENTINOS.</p>
                <h3>Menú de 3 pasos con maridaje de nuestros mejores exponentes de las línea Númina</h3>
                    <p>Nuestro menú esta armado en base a “Sabores del Valle de Uco”, con sus ingredientes reconocidos a nivel mundial, materia prima única de nuestra región donde destacamos a nuestros pequeños productores de la zona, resaltamos las diversas culturas que nos rodean y las costumbres que nos marcan e identifican. Incluye visita sin degustación 12hs.
                    *Los precios son referenciales pueden variar sin previo aviso.</p>
                <h2>Crea tu propio corte</h2>
                    <p>Convertirnos en enólogo por un día y realizar nuestro propio corte de vino es posible. 
                    Aprenderemos sobre los diferentes cortes de vino, características y estilos. Mezclaremos, buscaremos,
                     crearemos sin límites y elegiremos qué nos gusta. No es necesario contar con conocimientos previos. 
                     Como obsequio ¡una botella de uno de nuestros blends!</p>
                    <p>Duración de la Experiencia: 90 minutos.
                    Cupos: 6 - máx. 10 personas.
                    Modalidad / Reservas: con reserva previa
                    Horarios: 20:30 hs.</p>
                <h2>Degustación individual</h2>
                    <p>Convertite en sommelier por un momento al realizar una cata individual de nuestros vinos o espumantes. 
                        Podrás seleccionar tres copas a degustar según tu preferencia por variedad o tipo de vino: Espumante,
                         Alta gama, o familia de vinos. Cada copa vendrá acompañada de su correspondiente ficha técnica
                          descriptiva y notas de cata que complementarán la experiencia sensorial al degustar el vino.</p>
                    <p>Modalidad / Reservas: sin reserva previa. Horarios: 10:00 a 16:00</p>
                
            </div>

        </section>
        <section class="servicios">
            <div class="container">
                <h2>Donde nos encontramos</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14299.688530041112!2d-65.97347749889548!3d-26.361380431677922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941f4e036dd1d36f%3A0xf7e85da9fa34dc8b!2sColalao%20del%20Valle%2C%20Tucum%C3%A1n!5e0!3m2!1ses!2sar!4v1715971656659!5m2!1ses!2sar" 
                width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>

    </main>
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../static/img/logo/la-biblioteca-del-vino-high-resolution-logo.png" alt="Logo de Biblioteca del vino">
                    </a>
                </figure> 
            </div>
            <div class="box">
                <h2>Contacto</h2>
                <p><a href="tel:08103455577"><img src="../static/img/footer-head.png?v=637944336078100000" alt=""><span> 0810 345 6789</span></a></p>
                <p><a id="whatsapphdr" href="https://api.whatsapp.com/send?phone=5491199999999" target="_blank" data-content="https://api.whatsapp.com/send?phone=5491199999999"><img src="../static/img/footer-wsp.png?v=637944336085770000" alt=""><span> 1199999999</span></a></p>
                <p><a href="mailto:contacto@biblioteca-vino.com.ar"><img src="../static/img/footer-carta.png?v=637944336074330000" alt=""><span> contacto@biblioteca-vino.com.ar</span></a></p>

            </div>
            <div class="box">
                <h2>Seguinos</h2>
                    <a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="http://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="http://youtube.com" target="_blank"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2024 <b>La Biblioteca del Vino</b> - GRUPO 9 CaC</small>
        </div>
    </footer>
</body>

</html>